[phases.setup]
nixPkgs = ["nodejs_20"]
aptPkgs = [
  "libnss3", 
  "libatk1.0-0t64", 
  "libatk-bridge2.0-0t64", 
  "libcups2t64", 
  "libgbm1", 
  "libasound2t64", 
  "libpangocairo-1.0-0", 
  "libxss1", 
  "libgtk-3-0t64", 
  "libxshmfence1", 
  "libglu1-mesa", 
  "chromium"
]

[phases.install]
cmds = ["npm install"]
cacheDirectories = ["node_modules/.cache"]

[phases.build]
cmds = ["npm run build"]
cacheDirectories = ["node_modules/.cache", ".next/cache"]

[start]
cmd = "npm start"

[variables]
NPM_CONFIG_UPDATE_NOTIFIER = "false"
NEXT_TELEMETRY_DISABLED = "1"
NODE_ENV = "production"
